@model UserPostsViewModel

<div class="row">
    <div class="col-md-8">
        <h6>@Model.Username</h6>
    </div>
    <div class="col-md-2">
        <a asp-area="" asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">View profile</a>
    </div>
</div>
