@model NotificationViewModel


<div class="row">
    <div class="col-md-8">
        <h4>@Model.Description</h4>
    </div>
    <div class="col-md-2">
        <form asp-area="" asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@Model.SenderId" method="post">
            <input class="btn btn-primary btn-sm" type="submit" value="View profile" />
        </form>
    </div>
    <div class="col-md-2">
        @if (Model.NotificationType == 0)
        {
            <form asp-area="" asp-controller="Notifications" asp-action="AddFriend" asp-route-id="@Model.SenderId" method="post">
                <input class="btn btn-success btn-sm" id="disable-button" type="submit" value="Add friend" />
            </form>
        }
        else
        {
            <p>Pak neshto obyrka tiq veiw-ta</p>
        }
    </div>
</div>



