@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "My Cozy Lovely HomePage";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex flex-column justify-content-center">
    @if (!Model.Any())
    {
        <div class="text-center mb-3">
            <h6>Add some friends and you will see all their posts here!</h6>
        </div>
    }
    @foreach (var post in Model)
    {

        <partial name="_PostViewPartial" model="@post" />
        <p></p>
        <hr />
    }
</div>