@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "My Cozy Lovely HomePage";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex flex-column justify-content-center">
    @foreach (var post in Model)
    {

        <partial name="_PostViewPartial" model="@post" />
        <p></p>
        <hr />
    }
</div>