@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "ADMIN AREA";
}


<h2 class="text-center">@ViewBag.Title</h2>
<h4 class="text-center"> All Posts</h4>
<hr />

<div class="d-flex flex-column justify-content-center">
    @if (!Model.Any())
    {
        <div class="text-center mb-3">
            <h6>Still no posts in your website!</h6>
        </div>
    }
    @foreach (var post in Model)
    {

        <partial name="_PostViewPartial" model="@post" />
        <p></p>
        <hr />
    }
</div>