@model IEnumerable<NotificationViewModel>

@{
    ViewBag.Title = "Check your notifications";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex flex-column justify-content-center">
    @if (!Model.Any())
    {
        <div class="text-center mb-3">
            <h6>You have no notifications yet!</h6>
        </div>
    }
    @foreach (var notification in Model)
    {

        <partial name="_NotificationPartial" model="@notification" />
        <p></p>
        <hr />
    }    
</div>
